.col-xs-12 {
    padding:0;
}

.fa-fw {
    width: 35em;
}

.wedding-pic-wrapper {
    padding: 5px;

    .wedding-img:hover{
        box-shadow: 0px 0px 20px 6px #1889cf;
    }
}

.wedding-pics-section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: stretch;
    height: 75%;
    justify-content: center;
    align-items: center;
}

body{
    background-image: url("cmu.jpg");
    background-size: contain; /* Resize the background image to cover the entire container */
    background-repeat: repeat-y;
}
@media (min-width: 992px) {
    body {
        background-repeat: no-repeat; 
        background-size: cover;
    }
 }

.link-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.wedding-site-link{
    color: #009af7;
    font-size: 35px;
    font-weight: bold;
    text-shadow: 4px 3px 2px black;
}

